<?xml version="1.0"?>
<model>
  <name>warehouse_shelf</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Harish</name>
    <email>harish@todo.todo</email>
  </author>
  <description>Movable warehouse shelf pod for Titan AMR lift transport</description>
</model>
